* {
  margin: 0;
  padding: 0;
}

.main-logo {
  max-width: 180px;
}

.main-lg-logo {
  width: 300px;
}

.red {
  background-color: #ff0500;
}

.yellow {
  background-color: #ffe400;
}

.fa-bars {
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 15px;
}

.top-nav {
  padding: 8px;
}

/* Navbar Start */

.navbar1 {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f4f5f7;
  white-space: nowrap;
}

.nav-list1 {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}

.nav-r-line {
  margin-right: 10px;
  padding-right: 8px;
  border-right: 1px solid #d7d9dd;
}

.navbar2 {
  border-bottom: 2px solid #f4f5f7;
  padding-bottom: 10px;
  white-space: nowrap;
}

.nav-spacing {
  border-left: 1px solid #d9d9d9;
  padding-left: 18px;
}

.navbar-list2 {
  text-decoration: none;
  padding-left: 25px;
  color: #807f84;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.7rem;
}

.s-icon {
  margin-left: 12px;
}

.fa-search {
  padding-left: 8px;
}

.head-style {
  position: absolute;
  top: 88px;
  right: 0%;
  height: 20px;
  display: block;
  width: 140px;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

/* .....................main section css..................... */

main {
  margin-top: 75px;
}

.img-box {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: -9px;
}

.img-text {
  margin-top: 10px;
}

.bg-grey {
  background-color: #e9e8e9;
}

.feat-img {
  width: 100%;
  height: 100%;
}

.s-img {
  width: 100px;
  height: 90px;
}

.l-img {
  width: 160px;
  height: 140px;
}

.s-r-img {
  width: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

/* ...debate section... */

.vs {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
  margin: 6px auto;
  z-index: 1;
}

/* ...insight section... */

.nowrap {
  white-space: nowrap;
}

/* ............footer section css.......... */

footer {
  margin-top: 180px;
}

.footer-logo {
  max-width: 190px;
}

.fab {
  color: rgb(99, 93, 93);
  font-size: 1.5rem;
}

.s-m-list {
  padding-right: 10px;
}

.footer1 {
  border-bottom: 2px solid #f4f5f7;
}

.footer3 {
  margin-top: -20px;
}
